<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello ConnexionController!</title>
        <link rel="icon" href="/build/images/logo.59139278.ico" type="image/ico">
        <link rel="stylesheet" href="style/home.css">
        <link rel="stylesheet" href="style/connexion.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">    
    </head>
    <body>
        <nav>
            <div class="nav-logo">
                <a href="home.html">
                    <img src="images/logo.png">
                </a>
            </div>

            <ul class="nav-links">
                <li class="link"><a href="presentation.html">Présentation</a></li>
                <li id="link1" class="link"><a href="trombi.html">Trombinoscope</a></li>
                <li id="link2" class="link"><a href="partenaire.html">Nos partenaires</a></li>
                <li id="link3" class="link"><a href="offre.html">Offres</a></li>
            </ul>

            <button class="btn"><a href="connexion.html">S'identifier</a></button>
            
        </nav>

        <section class="container">
            <div class="center">
                <h1>Se connecter</h1>
                <form method="post">
                    <div class="txt_field">
                        <input type="text" required>
                        <span></span>
                        <label>Utilisateur</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" required>
                        <span></span>
                        <label>Mot de passe</label>
                    </div>
                    <input type="submit" value="Login">
                    <div class="signup_link"></div>  
                </form>
            </div>
        </section>

        <footer class="container">
            <span class="blur"></span>
            <span class="blur"></span>
            <div class="column">
                <div class="logo">
                    <img src="images/logo.png">
                </div>


                <div class="socials">
                    <a href="https://www.linkedin.com/company/amigo-orleans-miage/"><i class="ri-linkedin-line"></i></a>
                    <a href="https://www.instagram.com/miageorleans/"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-discord-line"></i></a>
                </div>
            </div>
            <div class="column">
                <h4>A propos de nous</h4>
                <a href="/presentation">Présentation</a>
                <a href="/trombinoscope">Trombinoscope</a>
            </div>
            <div class="column">
                <h4>Nos partenaires</h4>
                <a href="/partenaire/annuelle">Partenariats annuelles</a>
                <a href="/partenaire/entreprise">Entreprises partenaires</a>
            </div>
            <div class="column">
                <h4>Contact</h4>
                <a href="#">Nous contacter</a>
                <a href="#">Conditions générales</a>
            </div>
        </footer>

        <div class="copyright">
            Copyright © 2023 Amigo. Tout les droits sont réservés.
        </div>

</body>

</html>