<html>
    
    <head>
        <title>Amigo - Accueil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
        <link rel="stylesheet" href="style/home.css">
        <link rel="icon" href="images/logo.ico" type="image/ico">
    </head>
    
    <body>

        <nav>
            <div class="nav-logo">
                <a href="home.html">
                    <img src="images/logo.png">
                </a>
            </div>

            <ul class="nav-links">
                <li class="link"><a href="presentation.html">Présentation</a></li>
                <li id="link1" class="link"><a href="trombi.html">Trombinoscope</a></li>
                <li id="link2" class="link"><a href="partenaire.html">Nos partenaires</a></li>
                <li id="link3" class="link"><a href="offre.html">Offres</a></li>
            </ul>

            <button class="btn"><a href="connexion.html">S'identifier</a></button>
            
        </nav>

        <header class="container">
            <div class="content">
                <span class="blur"></span>
                <span class="blur"></span>
                <H1>L'Amigo vous souhaite la bienvenue</H1>
                <p>
                    L'amigo est une association étudiante, à but non lucrative, située à la Facultée d'Orléans. Nous sommes affiliés 
                    au cursus Miage (Méthodes Informatiques Appliquées à la Gestion des Entreprises). Si vous souhaitez adhérer
                    à notre association, vous pouvez vous rendre sur notre page HelloAsso en cliquant ci-dessous :) 
                </p>
                <button class="btn"><a href="https://www.helloasso.com/associations/amigo" style="text-decoration: none;
                color: white;">
                    HelloAsso</a>
                </button>
            </div>
            <div class="image">
                <img src="images/header.png">
            </div>
        </header>

        <section class="container">
            <h2 class="header">NOS FONCTIONNALITÉES</h2>
            <div class="features">
                <div class="card">
                    <span><i class="ri-slideshow-line"></i></span>
                    <h4>Présentation de l'Amigo</h4>
                    <p>
                        Nous vous invitions à consulter notre présentation pour savoir qui nous sommes
                    </p>
                    <a href="#">Cliquez ici <i class="ri-arrow-right-line"></i></a>
                </div>
                <div class="card">
                    <span><i class="ri-shake-hands-line"></i></span>
                    <h4>Nos partenaires</h4>
                    <p>
                        Vous pouvez consulter l'intégralité de nos partenaires, que ce soit nos partenaires Entreprises ou annuelles
                    </p>
                    <a href="#">Cliquez ici <i class="ri-arrow-right-line"></i></a>
                </div>
                <div class="card">
                    <span><i class="ri-award-line"></i></span>
                    <h4>Nos challenges</h4>
                    <p>
                        Vous avez la possiblitée de consulter l'ensemble de nos challenges à venir organisés par l'Amigo
                    </p>
                    <a href="#">Cliquez ici <i class="ri-arrow-right-line"></i></a>
                </div>
                <div class="card">
                    <span><i class="ri-briefcase-line"></i></span>
                    <h4>Espcae offres</h4>
                    <p>
                        Vous avez la posibilité de consulter des offres de stages ou d'alternance.
                    </p>
                    <a href="#">Cliquez ici <i class="ri-arrow-right-line"></i></a>
                </div>
            </div>
        </section>

        <footer class="container">
            <span class="blur"></span>
            <span class="blur"></span>
            <div class="column">
                <div class="logo">
                    <img src="images/logo.png">
                </div>
                
                
                <div class="socials">
                    <a href="#"><i class="ri-LinkedIn-line"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-discord-line"></i></a>
                </div>
            </div>
            <div class="column">
                <h4>A propos de nous</h4>
                <a href="#">Présentation</a>
                <a href="#">Trombinoscope</a>
            </div>
            <div class="column">
                <h4>Nos partenaires</h4>
                <a href="#">Partenariats annuelles</a>
                <a href="#">Entreprises partenaires</a>
            </div>
            <div class="column">
                <h4>Contact</h4>
                <a href="#">Nous contacter</a>
                <a href="#">Conditions générales</a>
            </div>
        </footer>

        <div class="copyright">
            Copyright © 2023 Amigo. Tout les droits sont réservés.
        </div>
    
    </body> 
</html>
