<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/offre.css">
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="icon" href="images/logo.ico" type="image/ico">
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="home.html">
                <img src="images/logo.png">
            </a>
        </div>

        <ul class="nav-links">
            <li class="link"><a href="presentation.html">Présentation</a></li>
            <li id="link1" class="link"><a href="trombi.html">Trombinoscope</a></li>
            <li id="link2" class="link"><a href="partenaire.html">Nos partenaires</a></li>
            <li id="link3" class="link"><a href="offre.html">Offres</a></li>
        </ul>

        <button class="btn"><a href="connexion.html">S'identifier</a></button>
        
    </nav>
    
    <main>
        <aside>
            <div class="filtre">
                <form>
                    <legend>Filtrer la recherche</legend>
                    <div class="filtre-inf">
                        <h4 class="filtre-intitule">Type d'offres</h4>
                        <p class="filtre-contain">
                            <input type="checkbox" name="byTypeOffre" id="byTypeOffre">
                            <label for="byTypeOffre">Stage</label>
                        </p class="filtre-contain">
                        <p class="filtre-contain">
                            <input type="checkbox" name="byTypeOffre" id="byTypeOffre">
                            <label for="byTypeOffre">Alternance</label>
                        </p>
                        <p class="filtre-contain">
                            <input type="checkbox" name="byTypeOffre" id="byTypeOffre">
                            <label for="byTypeOffre">CDI</label>
                        </p>
                    </div>
                    <div class="filtre-inf">
                        <h4 class="filtre-intitule">Entreprises</h4>
                        <p class="filtre-contain">
                            <select name="byEntreprise" id="byEntreprise">
                                <option value="" selected>-------</option>
                                <option value="atos">Atos</option>
                                <option value="eid">EID</option>
                                <option value="Sopra Steria">Sopra Steria</option>
                            </select>
                        </p>
                    </div>
                    <div class="filtre-inf">
                        <h4 class="filtre-intitule">Compétences</h4>
                        <p class="filtre-contain">
                            <select name="byEntreprise" id="byEntreprise">
                                <option value="" selected>-------</option>
                                <option value="atos">Oracle</option>
                                <option value="eid">Java</option>
                                <option value="Sopra Steria">Merise</option>
                            </select>
                        </p>
                    </div>
                    <div class="filtre-inf">
                        <h4 class="filtre-intitule">Ville</h4>
                        <p class="filtre-contain">
                            <input type="text" name="byVille" id="byVille" placeholder="Orléans">
                        </p>
                    </div>
                    <div class="filtre-inf">
                        <h4 class="filtre-intitule">Mot-clé</h4>
                        <p class="filtre-contain">
                            <input type="text" name="byMotCle" id="byMotCle" placeholder="base de données">
                        </p>
                    </div>
                    <div class="filtre-valide">
                        <input type="submit" value="Filtrer la recherche">
                    </div>
                </form>
            </div>
        </aside>

        <article>
            <div class="content-offre">

                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>

                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>

                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>

                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>


                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>

                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>

                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>

                <div class="annonce">
                    <h2 class="annonce-titre">
                        <a href="#">Stage fin de cycle l3</a>
                    </h2>
                    <p class="annonce-info">Euro-Information Développement - 45000 Orléans</p>
                    <p class="annonce-etiquette">
                        <label class="etiquette">Stage</label><label class="etiquette">Alternance</label>
                    </p>
                    <p class="annonce-resume">
                        Notre entreprise vous propose un stage en tant qu'analyste développeur. Le job consiter à bosser sur un projet 
                        en Cobol / .NET basé sur une architecture MVC développé en interne.
                    </p>
                </div>
                
            </div>
        </article>

    </main>

    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="images/logo.png">
            </div>
            
            
            <div class="socials">
                <a href="#"><i class="ri-linkedin-line"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="#"><i class="ri-discord-line"></i></a>
            </div>
        </div>
        <div class="column">
            <h4>A propos de nous</h4>
            <a href="#">Présentation</a>
            <a href="#">Trombinoscope</a>
        </div>
        <div class="column">
            <h4>Nos partenaires</h4>
            <a href="#">Partenariats annuelles</a>
            <a href="#">Entreprises partenaires</a>
        </div>
        <div class="column">
            <h4>Contact</h4>
            <a href="#">Nous contacter</a>
            <a href="#">Conditions générales</a>
        </div>
    </footer>

    <div class="copyright">
        Copyright © 2023 Amigo. Tout les droits sont réservés.
    </div>

</body>
</html>