<html>
    
    <head>
        <title>Amigo - Accueil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
        <link rel="stylesheet" href="style/home.css">
        <link rel="stylesheet" href="style/partenaire.css">
        <link rel="icon" href="images/logo.ico" type="image/ico">
    </head>
    
    <body>

        <nav>
            <div class="nav-logo">
                <a href="home.html">
                    <img src="images/logo.png">
                </a>
            </div>

            <ul class="nav-links">
                <li class="link"><a href="presentation.html">Présentation</a></li>
                <li id="link1" class="link"><a href="trombi.html">Trombinoscope</a></li>
                <li id="link2" class="link"><a href="partenaire.html">Nos partenaires</a></li>
                <li id="link3" class="link"><a href="offre.html">Offres</a></li>
            </ul>

            <button class="btn"><a href="connexion.html">S'identifier</a></button>
            
        </nav>


        <header class="container-part">
            <div class="content-part">
                <p class="tittle-part">Sommaire :</p>
                <p class="sommaire-part"><a class="content-sommaire-part" href="#">Nos partenaires annuelles</a></p>
                <p class="sommaire-part"><a class="content-sommaire-part" href="#">Nos partenaires Entreprises</a></p>
            </div>
            
        </header>

        <div class="titre-partie">
            <h1>Nos partenaires annuelles</h1>
        </div>

        <section class="container">
            <div class="content">
                <span class="blur"></span>
                <span class="blur"></span>
                <H1>La datcha</H1>
                <p>
                    L'amigo est une association étudiante, à but non lucrative, située à la Facultée d'Orléans. Nous sommes affiliés 
                    au cursus Miage (Méthodes Informatiques Appliquées à la Gestion des Entreprises). Si vous souhaitez adhérer
                    à notre association, vous pouvez vous rendre sur notre page HelloAsso en cliquant ci-dessous :) 
                </p>
                <button class="btn"><a href="http://www.orleansmetropolis.com/etablissement/636-la-datcha" style="text-decoration: none;
                color: white;">
                    Plus d'info</a>
                </button>
            </div>
            <div class="image">
                <img src="images/datcha.png">
            </div>

            <div class="ligne image"></div><div class="ligne image"></div>

            <div class="image">
                <img src="images/boulangerie.pgn">
            </div>
            <div class="content">
                <span class="blur"></span>
                <span class="blur"></span>
                <H1>L'EPI D'OR</H1>
                <p>
                    L'amigo est une association étudiante, à but non lucrative, située à la Facultée d'Orléans. Nous sommes affiliés 
                    au cursus Miage (Méthodes Informatiques Appliquées à la Gestion des Entreprises). Si vous souhaitez adhérer
                    à notre association, vous pouvez vous rendre sur notre page HelloAsso en cliquant ci-dessous :) 
                </p>
                <button class="btn"><a href="https://boulangerielepidor.fr/" style="text-decoration: none;
                color: white;">
                    Plus d'info</a>
                </button>
            </div>
            

        </section>

        <div class="titre-partie">
            <h1>Nos partenaires Entreprises</h1>
        </div>

        <section class="container">
            <div class="content">
                <span class="blur"></span>
                <span class="blur"></span>
                <H1>ATOS</H1>
                <p>
                    L'amigo est une association étudiante, à but non lucrative, située à la Facultée d'Orléans. Nous sommes affiliés 
                    au cursus Miage (Méthodes Informatiques Appliquées à la Gestion des Entreprises). Si vous souhaitez adhérer
                    à notre association, vous pouvez vous rendre sur notre page HelloAsso en cliquant ci-dessous :) 
                </p>
                <button class="btn"><a href="https://atos.net/fr/" style="text-decoration: none;
                color: white;">
                    Plus d'info</a>
                </button>
            </div>
            <div class="image">
                <img src="images/atos.png">
            </div>

            <div class="ligne image"></div><div class="ligne image"></div>

            <div class="image">
                <img src="images/sopra.png">
            </div>
            <div class="content">
                <span class="blur"></span>
                <span class="blur"></span>
                <H1>Sopra Steria</H1>
                <p>
                    L'amigo est une association étudiante, à but non lucrative, située à la Facultée d'Orléans. Nous sommes affiliés 
                    au cursus Miage (Méthodes Informatiques Appliquées à la Gestion des Entreprises). Si vous souhaitez adhérer
                    à notre association, vous pouvez vous rendre sur notre page HelloAsso en cliquant ci-dessous :) 
                </p>
                <button class="btn"><a href="https://www.soprasteria.com/fr" style="text-decoration: none;
                color: white;">
                    Plus d'info</a>
                </button>
            </div>
            

        </section>

        










        <footer class="container">
            <span class="blur"></span>
            <span class="blur"></span>
            <div class="column">
                <div class="logo">
                    <img src="images/logo.png">
                </div>
                
                
                <div class="socials">
                    <a href="#"><i class="ri-LinkedIn-line"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-discord-line"></i></a>
                </div>
            </div>
            <div class="column">
                <h4>A propos de nous</h4>
                <a href="#">Présentation</a>
                <a href="#">Trombinoscope</a>
            </div>
            <div class="column">
                <h4>Nos partenaires</h4>
                <a href="#">Partenariats annuelles</a>
                <a href="#">Entreprises partenaires</a>
            </div>
            <div class="column">
                <h4>Contact</h4>
                <a href="#">Nous contacter</a>
                <a href="#">Conditions générales</a>
            </div>
        </footer>

        <div class="copyright">
            Copyright © 2023 Amigo. Tout les droits sont réservés.
        </div>

    </body> 
</html>
