<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Amigo - Présentation</title>
        <link rel="icon" href="images/logo.ico" type="image/ico">
        <link rel="stylesheet" href="style/home.css">
        <link rel="stylesheet" href="style/trombi.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    </head>
    
    <body>
        <nav>
            <div class="nav-logo">
                <a href="home.html">
                    <img src="images/logo.png">
                </a>
            </div>

            <ul class="nav-links">
                <li class="link"><a href="presentation.html">Présentation</a></li>
                <li id="link1" class="link"><a href="trombi.html">Trombinoscope</a></li>
                <li id="link2" class="link"><a href="partenaire.html">Nos partenaires</a></li>
                <li id="link3" class="link"><a href="offre.html">Offres</a></li>
            </ul>

            <button class="btn"><a href="connexion.html">S'identifier</a></button>
            
        </nav>

        <div class="trombi-title">

            <h1>Présentation du bureau de l'Amigo !</h1>

        </div>

        <div class="trombi">
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
            <div class="trombi-col">
                <img src="photo.png">
                <div class="trombi-texte">
                    <p>p1</p>
                    <p>01/01/2000</p>
                    <p>VP partenariat</p>
                </div>
            </div>
        </div>


        <footer class="container">
            <span class="blur"></span>
            <span class="blur"></span>
            <div class="column">
                <div class="logo">
                    <img src="images/logo.png">
                </div>


                <div class="socials">
                    <a href="#"><i class="ri-linkedin-line"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-discord-line"></i></a>
                </div>
            </div>
            <div class="column">
                <h4>A propos de nous</h4>
                <a href="#">Présentation</a>
                <a href="#">Trombinoscope</a>
            </div>
            <div class="column">
                <h4>Nos partenaires</h4>
                <a href="#">Partenariats annuelles</a>
                <a href="#">Entreprises partenaires</a>
            </div>
            <div class="column">
                <h4>Contact</h4>
                <a href="#">Nous contacter</a>
                <a href="#">Conditions générales</a>
            </div>
        </footer>

        <div class="copyright">
            Copyright © 2023 Amigo. Tout les droits sont réservés.
        </div>
    
</body>

</html>